.DS_Store
.Rproj.user
.RData
.Rhistory
.RDataTmp
bangladesh/BD-EE-urine.csv
bangladesh/BD-EE-stool.csv
bangladesh/bangladesh-hhwealth.csv
bangladesh/bangladesh-dm-ee-ee-growth-stool-urine-lab-covariates-anthro.csv
bangladesh/bangladesh-development.RDS
bangladesh/washb-bangladesh-cdi-year2.csv
bangladesh/washb-bangladesh-cdi-year2.dta
bangladesh/washb-bangladesh-easq-year2.csv
bangladesh/washb-bangladesh-easq-year2.dta
bangladesh/washb-bangladesh-enrol.dta
bangladesh/washb-bangladesh-home-year1.dta
bangladesh/washb-bangladesh-home-year2.dta
bangladesh/washb-bangladesh-momdepression-year1.dta
bangladesh/washb-bangladesh-momdepression-year2.dta
bangladesh/washb-bangladesh-motormile-year1.csv
bangladesh/washb-bangladesh-motormile-year1.dta
bangladesh/washb_cdiyr1_std_17jan2021.dta
bangladesh/washb_cdiyr2_std_17jan2021.dta
bangladesh/washb_easq_std_22dec2020.dta
kenya/washb-kenya-eed-stool.csv
kenya/washb-kenya-eed-urine.csv
kenya/washb-kenya-enrol.csv
kenya/washk_development_allkids_CA_20171121.dta
kenya/washk_motormile_CA_20171121.dta
eed-dev_bg.RDS
kenya/kenya-dm-ee-anthro-ee.csv
kenya/washk_phq_pss_20210203.dta
kenya/k_phq.csv
kenya/k_phq_pss_with_quant.csv
kenya/k_phq_pss_with_quant.R
kenya/kenya-wealth-index.csv
kenya/washb-kenya-allkids-ee-med-age-no-dob.csv
kenya/washk_phq_pss_20210203.csv
*.log
raw-data/*
*.aux
~/.boxr-oauth
